<template>
  <div class="footer">
    <hr />
    <div class="center" v-show="!minecraftStatus.online">&nbsp;</div>
    <div class="center" v-show="minecraftStatus.online">
      minecraft {{ minecraftStatus.version }} | {{ minecraftStatus.address }} |
      {{ minecraftStatus.current_players }}/{{
        minecraftStatus.max_players
      }}
      players
    </div>
    <div class="center">
      <a href="https://gitlab.com/pikdum/2kuu4u">2kuu4u</a> -
      <a href="https://gitlab.com/pikdum/kuu2-frontend">kuu2-frontend</a>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      refreshInterval: null,
      minecraftStatus: {}
    };
  },
  methods: {
    async refreshMinecraft() {
      const url = "https://minecraft.usagi.zone/status";
      this.minecraftStatus = await this.$axios.$get(url).catch(e => console.error(e));
    }
  },
  created: function() {
    // this.refreshInterval = setInterval(this.refreshMinecraft, 15000);
    // this.refreshMinecraft();
  },
  destroyed: function() {
    // clearInterval(this.refreshInterval);
  }
};
</script>

<style scoped>
a,
a:focus,
a:hover {
  text-decoration: none;
}
a:visited {
  color: blue;
}
</style>
