<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
  export default {
    mounted() {
      const d = new Date();
      let month = d.getMonth();
      if ([10, 11, 0, 1].includes(month)) {
        snowstorm(localStorage.getItem('SNOWFLAKE_COUNT') || 5);
      }
    }
  }
</script>

<style>
html {
	color: black;
	background-color: #dbdcff;
	font-size: 16px;
	font-family: serif;
}
body {
	background-color: white;
	min-height: 100vh;
	max-width: 60em;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
.main {
	padding: 1em;
}
.center {
	text-align: center;
}
h1 a {
	color: black;
	text-decoration: none;
}
input[type=submit] {
	color: black;
	font-weight: normal;
}
</style>
