<template>
	<div class="main">
		<style>
		html {
			font-family: 'Noto Serif', serif;
		}
		</style>
		<div class="center">
			<img src="/bunny_rei.jpg">
		</div>
		<div class="center">
			<router-link :to="{ name: 'forum'}">enter</router-link>
		</div>
	</div>
</template>

<script>
export default {
    head() {
        return {
            link: [
                { rel: 'icon', type: 'image/x-icon', href: "/favicon.ico?v=" + process.env.VERSION },
				{ rel: 'stylesheet', href: "https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" }
            ]
        }
    }
}
</script>

<style scoped>
img {
	max-height: 85vh;
	width: auto;
	max-width: 100%;
}
a, a:focus, a:hover {
	text-decoration: none;
	color: black;
	font-size: 3em;
}
</style>
