<template>
  <div class="main">
    <style>
      html {
        font-family: "Noto Serif", serif;
      }
    </style>
    <h1><router-link :to="{ name: 'forum' }">／(･ × ･)＼</router-link></h1>
    <hr />
    <h2 v-if="isError" style="color: red;">
      Error loading thread!
    </h2>
    <h2 v-if="thread.length">
      {{ thread[0].subject }}
    </h2>
    <Post v-for="post in thread" :key="post.post_id" :data="post"></Post>
    <NewPost
      v-on:refreshthread="refreshThread"
      :thread_id="$route.params.id"
    ></NewPost>
    <Footer></Footer>
  </div>
</template>

<script>
import Post from "~/components/Post.vue";
import NewPost from "~/components/NewPost.vue";
import Footer from "~/components/Footer.vue";

export default {
  async asyncData({ app, params }) {
    let isError = false;
    const url = process.env.API_BASE + "/thread/" + params.id + "/";
    const thread = await app.$axios.$get(url).catch(e => {
      isError = true;
      return [];
    });
    return { thread, isError };
  },
  data: function() {
    return {
      isError: false,
      isRefreshing: false,
      refreshInterval: null,
      favicon: "",
      missedCount: 0
    };
  },
  methods: {
    async refreshThread() {
      if (this.isRefreshing) return;
      this.isRefreshing = true;

      var latestPost = this.thread.length
        ? this.thread[this.thread.length - 1].post_id
        : 0;
      const url =
        process.env.API_BASE +
        "/thread/" +
        this.$route.params.id +
        "/?since=" +
        latestPost;
      const thread = await this.$axios.$get(url).catch(e => []);

      if (thread.length > 0) {
        this.isError = false;
        for (var i = 0; i < thread.length; i++) {
          this.thread.push(thread[i]);
        }
      }

      if (document.visibilityState === "hidden" && thread.length > 0) {
        this.setNotification(true, thread.length);
      }

      this.isRefreshing = false;
    },
    setNotification(bool, count = 0) {
      if (bool) {
        this.missedCount = this.missedCount + count;
      } else {
        this.missedCount = 0;
      }
      this.favicon =
        (bool ? "/favicon2.ico" : "/favicon.ico") + "?v=" + process.env.VERSION;
    }
  },
  components: {
    Post,
    NewPost,
    Footer
  },
  head() {
    return {
      title:
        (this.missedCount > 0 ? `[${this.missedCount}] ` : "") +
        "／(･ × ･)＼ - " +
        (this.thread.length ? this.thread[0].subject : "Error!"),
      link: [
        { rel: "icon", type: "image/x-icon", href: this.favicon },
        {
          rel: "stylesheet",
          href:
            "https://fonts.googleapis.com/css?family=Noto+Serif&display=swap"
        }
      ]
    };
  },
  mounted() {
    document.onvisibilitychange = function() {
      if (document.visibilityState === "visible") {
        this.setNotification(false);
      }
    }.bind(this);
  },
  created: function() {
    this.refreshInterval = setInterval(this.refreshThread, 15000);
    this.setNotification(false);
  },
  destroyed: function() {
    clearInterval(this.refreshInterval);
  }
};
</script>
