<template>
  <div class="main">
    <style>
      html {
        font-family: "Noto Serif", serif;
      }
    </style>
    <h1><router-link :to="{ name: 'forum' }">／(･ × ･)＼</router-link></h1>
    <hr />
    <p>
      <router-link :to="{ name: 'forum-new' }">New Thread</router-link>
    </p>
    <ThreadTable :data="threads"></ThreadTable>
    <h2 v-if="isError" style="color: red; text-align: center;">
      Error loading threads!
    </h2>
    <Footer></Footer>
  </div>
</template>

<script>
import ThreadTable from "~/components/ThreadTable.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    ThreadTable,
    Footer
  },
  async asyncData({ app }) {
    let isError = false;
    const url = process.env.API_BASE + "/thread/";
    const threads = await app.$axios.$get(url).catch(e => {
      isError = true;
      return [];
    });
    return { threads, isError };
  },
  data: function() {
    return {
      isError: false,
      refreshInterval: null
    };
  },
  methods: {
    async refreshThreads() {
      const url = process.env.API_BASE + "/thread/";
      this.$axios
        .$get(url)
        .then(data => {
          this.isError = false;
          this.threads = data;
        })
        .catch(e => console.error(e));
    }
  },
  head() {
    return {
      title: "／(･ × ･)＼ - index",
      link: [
        {
          rel: "icon",
          type: "image/x-icon",
          href: "/favicon.ico?v=" + process.env.VERSION
        },
        {
          rel: "stylesheet",
          href:
            "https://fonts.googleapis.com/css?family=Noto+Serif&display=swap"
        }
      ]
    };
  },
  created: function() {
    this.refreshInterval = setInterval(this.refreshThreads, 15000);
  },
  destroyed: function() {
    clearInterval(this.refreshInterval);
  }
};
</script>

<style scoped>
a,
a:focus,
a:hover {
  text-decoration: none;
}
</style>
